.cube-container {
  width: 300px;
  height: 300px;
  perspective: 800px;
  margin: 10px auto;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: rotateCubeAlt 10s linear infinite;
}

.cube-face {
  border-radius: 5px;
  position: absolute;
  width: 299px;
  height: 299px;
  background: #009b6741;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75em;
  color: #fff;
}

.cube-face:active {
  animation: rangmiranga 5s linear infinite;
}

.cube-face.front {
  transform: rotateY(0) translateZ(150px);
}

.cube-face.back {
  transform: rotateY(180deg) translateZ(150px);
}

.cube-face.right {
  transform: rotateY(90deg) translateZ(150px);
}

.cube-face.left {
  transform: rotateY(-90deg) translateZ(150px);
}

.cube-face.top {
  transform: rotateX(90deg) translateZ(150px);
}

.cube-face.bottom {
  transform: rotateX(-90deg) translateZ(150px);
}

@media screen and (max-width: 780px) {
  .cube-container {
    width: 150px;
    height: 150px;
    perspective: 800px;
    margin: 10px auto;
  }

  .cube-face {
    border-radius: 5px;
    position: absolute;
    width: 149px;
    height: 149px;
    font-size: 1em;
  }

  .cube-face img {
    height: 7.5em;
  }

  .cube-face.front {
    transform: rotateY(0) translateZ(75px);
  }

  .cube-face.back {
    transform: rotateY(180deg) translateZ(75px);
  }

  .cube-face.right {
    transform: rotateY(90deg) translateZ(75px);
  }

  .cube-face.left {
    transform: rotateY(-90deg) translateZ(75px);
  }

  .cube-face.top {
    transform: rotateX(90deg) translateZ(75px);
  }

  .cube-face.bottom {
    transform: rotateX(-90deg) translateZ(75px);
  }
}

@keyframes rotateCubeAlt {
  0% {
    transform: rotateX(0) rotateY(0) rotate(0);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg) rotate(-360deg);
  }
}
