.cube-container {
  width: min(240px, 45vw);
  height: min(240px, 45vw);
  perspective: 700px;
  margin: 0 auto;
}

.jibesh {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: rotateCubeAlt 18s ease-in-out infinite;
  will-change: transform;
  backface-visibility: visible;
  transition: transform 0.15s ease-out;
}

.cube.mouse-follow {
  animation: none;
  transform: rotateX(var(--mouse-rotation-x, 0deg)) rotateY(var(--mouse-rotation-y, 0deg));
}

.cube-face {
  position: absolute;
  width: min(240px, 45vw);
  height: min(240px, 45vw);
  background: transparent;
  border: 1px dashed #444;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: #ccc;
  backface-visibility: visible;
  will-change: transform;
  transition: border-color 0.4s ease;
}

.cube-face:hover {
  border-color: #888;
}

.cube-face:active {
  animation: rangmiranga 5s linear infinite;
}

.cube-face.front {
  transform: rotateY(0) translateZ(calc(min(240px, 45vw) / 2));
}

.cube-face.back {
  transform: rotateY(180deg) translateZ(calc(min(240px, 45vw) / 2));
}

.cube-face.right {
  transform: rotateY(90deg) translateZ(calc(min(240px, 45vw) / 2));
}

.cube-face.left {
  transform: rotateY(-90deg) translateZ(calc(min(240px, 45vw) / 2));
}

.cube-face.top {
  transform: rotateX(90deg) translateZ(calc(min(240px, 45vw) / 2));
}

.cube-face.bottom {
  transform: rotateX(-90deg) translateZ(calc(min(240px, 45vw) / 2));
}

@media screen and (max-width: 780px) {
  .cube-container {
    width: 140px;
    height: 140px;
    perspective: 600px;
  }

  .cube-face {
    width: 140px;
    height: 140px;
    font-size: 0.8em;
  }

  .cube-face img {
    height: 5em;
  }

  .cube-face.front {
    transform: rotateY(0) translateZ(70px);
  }

  .cube-face.back {
    transform: rotateY(180deg) translateZ(70px);
  }

  .cube-face.right {
    transform: rotateY(90deg) translateZ(70px);
  }

  .cube-face.left {
    transform: rotateY(-90deg) translateZ(70px);
  }

  .cube-face.top {
    transform: rotateX(90deg) translateZ(70px);
  }

  .cube-face.bottom {
    transform: rotateX(-90deg) translateZ(70px);
  }
}

@keyframes rotateCubeAlt {
  0% {
    transform: rotateX(-8deg) rotateY(12deg);
  }

  12.5% {
    transform: rotateY(-78deg) rotateX(-10deg);
  }

  25% {
    transform: rotateX(-8deg) rotateY(12deg);
  }

  37.5% {
    transform: rotateX(-80deg) rotateY(15deg);
  }

  50% {
    transform: rotateX(-8deg) rotateY(12deg);
  }

  62.5% {
    transform: rotateY(95deg) rotateX(-10deg);
  }

  75% {
    transform: rotateX(-8deg) rotateY(12deg);
  }

  87.5% {
    transform: rotateX(100deg) rotateY(15deg);
  }

  100% {
    transform: rotateX(-8deg) rotateY(12deg);
  }
}