.cube-container {
  width: 300px;
  height: 300px;
  perspective: 800px;
  margin: 10px auto;
}
.jibesh {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: rotateCubeAlt 12s ease-in-out infinite;
  will-change: transform;
  backface-visibility: visible;
}

.cube-face {
  position: absolute;
  width: 300px;
  height: 300px;
  background: transparent;
  border: 1px solid #fff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75em;
  color: #fff;
  backface-visibility: visible;
  will-change: transform;
}

.cube-face:active {
  animation: rangmiranga 5s linear infinite;
}

.cube-face.front {
  transform: rotateY(0) translateZ(150px);
}

.cube-face.back {
  transform: rotateY(180deg) translateZ(150px);
}

.cube-face.right {
  transform: rotateY(90deg) translateZ(150px);
}

.cube-face.left {
  transform: rotateY(-90deg) translateZ(150px);
}

.cube-face.top {
  transform: rotateX(90deg) translateZ(150px);
}

.cube-face.bottom {
  transform: rotateX(-90deg) translateZ(150px);
}

@media screen and (max-width: 780px) {
  .cube-container {
    width: 150px;
    height: 150px;
    perspective: 800px;
    margin: 10px auto;
  }

  .cube-face {
    position: absolute;
    width: 149px;
    height: 149px;
    font-size: 1em;
  }

  .cube-face img {
    height: 7.5em;
  }

  .cube-face.front {
    transform: rotateY(0) translateZ(75px);
  }

  .cube-face.back {
    transform: rotateY(180deg) translateZ(75px);
  }

  .cube-face.right {
    transform: rotateY(90deg) translateZ(75px);
  }

  .cube-face.left {
    transform: rotateY(-90deg) translateZ(75px);
  }

  .cube-face.top {
    transform: rotateX(90deg) translateZ(75px);
  }

  .cube-face.bottom {
    transform: rotateX(-90deg) translateZ(75px);
  }
}

@keyframes rotateCubeAlt {
  /* Front face */
  0% {
    transform: rotateX(-8deg) rotateY(12deg);
  }
  /* Right face (DEVELOPER) */
  12.5% {
    transform: rotateY(-78deg) rotateX(-10deg);
  }
  /* Front face */
  25% {
    transform: rotateX(-8deg) rotateY(12deg);
  }
  /* Top face (DESIGNER) */
  37.5% {
    transform: rotateX(-80deg) rotateY(15deg);
  }
  /* Front face */
  50% {
    transform: rotateX(-8deg) rotateY(12deg);
  }
  /* Left face (DEVELOPER) */
  62.5% {
    transform: rotateY(95deg) rotateX(-10deg);
  }
  /* Front face */
  75% {
    transform: rotateX(-8deg) rotateY(12deg);
  }
  /* Bottom face (DESIGNER) */
  87.5% {
    transform: rotateX(100deg) rotateY(15deg);
  }
  /* Back to front face */
  100% {
    transform: rotateX(-8deg) rotateY(12deg);
  }
}
