@import "tailwindcss";

:root {
    font-family: "Zalando Sans Expanded", "Manjari", monospace;

  line-height: 1.5;
  /* color-scheme: dark; */
  color: #ffffffde;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.jetbrains-mono-light {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.jetbrains-mono-regular {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.major-mono-display-regular {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
}

.major-mono-display-bold {
  font-family: "Major Mono Display", monospace;
  font-weight: 900;
  font-style: normal;
}

.zalando-sans-expanded-light {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.manjari-thin {
  font-family: "Manjari", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.manjari-regular {
  font-family: "Manjari", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.manjari-bold {
  font-family: "Manjari", sans-serif;
  font-weight: 700;
  font-style: normal;
}


::selection {
    background: #fff;
    color: #000;
    text-shadow: none;
}

::-moz-selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}

body {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #313131 1px, transparent 1px),
    linear-gradient(to bottom, #313131 1px, transparent 1px);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

a {
  font-size: clamp(1em, 3vw, 1.75em);
  font-weight: 500;
  color: #bfbfbf;
  transition: all 0.25s ease;
  border-style: dashed;
}
a:hover {
  color: #ffffff;
  border-style: solid;
}

h1 {
  font-size: clamp(2.5em, 5vw, 4em);
  line-height: 1.1;
  font-weight: 700;
  /* text-decoration: underline wavy 4px #ffffff; */
  transition: all 0.25s ease;
}

p {
  font-size: clamp(1em, 3vw, 1.75em);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: clamp(0.875em, 2vw, 1.25em);
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a1a1a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0000;
}

.rangu {
  animation: rangmiranga 5s infinite;
}

@keyframes rangmiranga {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}

