@import "tailwindcss";

:root {
  font-family: monospace;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: dark; */
  color: #ffffffde;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #313131 1px, transparent 1px),
    linear-gradient(to bottom, #313131 1px, transparent 1px);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
a {
  font-weight: 500;
  color: #bfbfbf;
}
a:hover {
  color: #ffffff;
}

h1 {
  font-size: 4em;
  line-height: 1.1;
}

p {
  font-size: 1.75em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a1a1a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.rangu {
  animation: rangmiranga 5s infinite;
}

@keyframes rangmiranga {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}