@import "tailwindcss";

:root {
  font-family: monospace;

  line-height: 1.5;
  /* color-scheme: dark; */
  color: #ffffffde;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-des {
  font-family: "Major Mono Display", "Anek Malayalam", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.font-dev {
  font-family: "JetBrains Mono", "Manjari", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  /* font-size: 2em; */
}

.font-head {
  font-family: "Zalando Sans Expanded", "Anek Malayalam", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-para {
  font-family: "Zalando Sans Expanded", "Manjari", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

::selection {
  background: #fff;
  color: #000;
  text-shadow: none;
}

::-moz-selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}

body {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #313131 1px, transparent 1px),
    linear-gradient(to bottom, #313131 1px, transparent 1px);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

a {
  font-size: clamp(1em, 3vw, 1.75em);
  color: #bfbfbf;
  transition: all 0.25s ease;
  border-style: dashed;
}
a:hover {
  color: #ffffff;
  border-style: solid;
}

h1 {
  font-size: clamp(2.2em, 4vw, 3em);
  line-height: 1.1;
  font-weight: 700;
  /* text-decoration: underline wavy 4px #ffffff; */
  transition: all 0.25s ease;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: clamp(0.875em, 2vw, 1.25em);
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.sbar-hide {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

.sbar-hide::-webkit-scrollbar {
  display: none !important;
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a1a1a;
  border: dashed 5px #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0000;
}

.rangu {
  animation: rangmiranga 5s infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-100% + 100vw));
  }
}

@keyframes rangmiranga {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}
